name: "Build"

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: download color tool
      uses: actions/checkout@v6
      with:
        repository: sfmict/MountColors
        token: ${{ secrets.OAUTH }}
        path: .mountColors

    - name: color db generation
      run: |
        cd .mountColors
        node genDB.js -c
        git -C $GITHUB_WORKSPACE add -f MountsJournalUI/database/ColorDB.lua

    - name: download packager
      uses: actions/checkout@v6
      with:
        repository: sfmict/js_packager
        token: ${{ secrets.OAUTH }}
        path: my-tools

    - name: install packages
      run: cd "my-tools" && npm install

    - name: files
      run: node my-tools/packager.js
      env:
        GITHUB_OAUTH: ${{ secrets.OAUTH }}
        CF_API_KEY: ${{ secrets.CF_API_KEY }}
        CF_ID: 657952
        WAGO_API_KEY: ${{ secrets.WAGO_API_KEY }}
        WAGO_ID: 7x61A261